<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'index' %}"><div class = "style1">Funny English</div></a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active"><a class="nav-link" href="{% url 'themes' %}"><div class = "style1">Теми</div></a></li>
            <li class="nav-item active"><a class="nav-link"  href="{% url 'question' %}"><div class = "style1">Навчання</div></a></li>
            <li class="nav-item active"><a class="nav-link"  href="{% url 'testing' %}"><div class = "style1">Тестування</div></a></li>
            <li class="nav-item active"><a class="nav-link"  href="{% url 'statistics' %}"><div class = "style1">Статистика</div></a></li>
            <li class="nav-item active"><a class="nav-link" href="{% url 'quiz' %}"><div class = "style1">Вікторини</div></a></li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %}
                <li class="nav-item active"><a class="nav-link" href="/admin"><div class = "light">Admin</div></a></li>
                <li class="nav-item active"><a class="nav-link" href="{% url 'user:logout' %}"><div class = "light">Вихід</div></a></li>
            {% else %}
                <li class="nav-item active"><a class="nav-link" href="{% url 'user:login' %}"><div class = "light">Вхід</div></a></li>
                <li class="nav-item active"><a class="nav-link" href="{% url 'user:register' %}"><div class = "light">Реєстрація</div></a></li>
            {% endif %}
        </ul>
    </div>
</nav>