{% extends "layout.html" %}
{% load static %}

{% block body %}

<div class="jumbotron text-center" style="background-color: black; opacity:70%">
        <h3 style="color:white"><b>Ласкаво просимо на сайт з вивчення англійської!</b></h3>
        <br>
        <p style="color:white">
        {% if request.user.is_authenticated %}
                Hello, {{request.user.username}}!
        {% else %}
                Ви не ввійшли до системи
        {% endif %}
        </p>

        <img src="{% static 'img/index3.jpg' %}" class="img-fluid" alt="Girl in a jacket">
</div>

{% endblock body %}