{% extends "layout.html" %}
{% load static %}

{% block body %}
    <link rel="stylesheet" type="text/css" href="{%  static 'css/style.css'  %}">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
<div class="jumbotron text-center" style="background: #104767; opacity:70%">
        <div class="container"><h3 style="color:#ffffff; opacity:100%; font-family: 'Quicksand', sans-serif;"><b> <div id="testbutton"></div> </b></h3></div>
        <br>
        <p style="color:#ffffff; opacity:100%; font-family: 'Quicksand', sans-serif;">
        {% if request.user.is_authenticated %}
                Привіт, {{request.user.username}}!
        {% else %}
                Ви не увійшли до системи
        {% endif %}
        </p>

        <img src="{% static 'img/index3.jpg' %}" class="img-fluid" alt="Girl in a jacket">
</div>


{% endblock body %}