{% extends "layout.html" %}        return redirect("index")


{% block body %}

<div class="jumbotron text-center" style="background-color:#333333">
        <br>
        <form autocomplete="off">
            <p>
                <input type="submit" class="btn btn-primary" value="Click1" name="mybtn1">
                <input type="submit" class="btn btn-primary" value="Click2" name="mybtn2">
            <p>
                <input type="submit" class="btn btn-primary" value="Click3" name="mybtn3">
                <input type="submit" class="btn btn-primary" value="Click4" name="mybtn4">
        </form>
</div>

{% endblock body %}