<!DOCTYPE HTML>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{%  static 'css/style.css'  %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Funny English</title>
    <script>


    </script>
    <style>

        .button {
            background-color: white; /* Green */
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
        }




    </style>
</head>
<body class="body">
<div style="margin-top : 100px; margin-bottom:100px; color: white; " class="container">
    <h5 style="line-height: 30px" >Вислів про те, що всі люди різні, не просто фраза. Кожен з нас по-різному сприймає інформацію і реагує на неї.
        Але якщо реакції – це більше до визначення інтровертів і екстравертів, то в залежності від способу сприйняття ми
        ділимося на візуалів, аудіалів і кінестетиків. Це три основних типи мислення людини і дуже важливо враховувати
        цей фактор, особливо викладачам у процесі навчання дитини. <br><br>
Три типи людей – три способи мислення. Кожен з них кардинально відрізняється один від одного. Якщо коротко, то
        візуал сприймає інформацію картинками, аудіал – звуками, а кінестетик – емоціями.
    </h5>
    {% for theme in themes.values_list %}
        <div class="jumbotron text-center" style="background-image: url('static/img/word_themes/{{ theme.2 }}') " >

            <a href="{% url 'quizTheme' theme_name=theme.0 %}" style="text-transform: uppercase;">
                <button class="light"
                        style="height: 100px; width: 400px; background-image: '/static/img/word_themes/{{ theme.2 }}' !important;">
                    <h4 style="text-align: center; height: 15px; font-size: 30px" >{{ theme.1.upper }}</h4>
                </button>
            </a>

        </div>
    {% endfor %}
    {% include "includes/navbar.html" %}
    <script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.canvasjs.min.js' %}"></script>
</body>
</html>