{% extends "layout.html" %}        return redirect("index")


{% block body %}

<div class="jumbotron text-center" style="background-color:#333333">
        <br>
        <p style="color:white"><b>Слово у реченні</b> : {{word.sentence}}<p>
        <p style="color:white"><b>Транскрипція</b> : {{word.structure}}<p>
        <form autocomplete="off">
                <input type="text" name="soru" value={{word.engWord}} class="word" readonly>
                <p>
                <p><input type="text" name="answer"></p>
                <button type = "submit" class = "btn btn-outline-success">Відповісти</button>
        </form> 
</div>

{% endblock body %}