<!DOCTYPE HTML>
{% load static %}
<html lang="en">
<head>
        <link rel="stylesheet" type="text/css" href="{%  static 'css/style.css'  %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Funny English</title>
    <script>


    </script>
</head>
<body class="body">
<div style="margin-top : 100px; margin-bottom:100px;" class="container">
    <div class="jumbotron text-center" style="background-color:white">
        <p style="color:#310f91">{{ theme }}</p>
        {% for word in words %}
            <p style="color:#222222"><div class="theme">{{ word.engWord }} — {{ word.structure }} — {{ word.trWord }} </div>
             <p></p>
            <img src="/static/img/words/{{ word.img }}" style="max-height: 150pt; max-width: 150pt"/>
                <br> </br>
        {% endfor %}


    {% include "includes/navbar.html" %}
    <script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.canvasjs.min.js' %}"></script>
</body>
</html>