{% extends "layout.html" %}
return redirect("index")
{% block body %}

<div class="progress">
  <div class="progress-bar"  style="width: {{progress_val}}%" role="progressbar">{{cur_word}}/{{total_words}}</div>
</div>

    <div class="jumbotron text-center" style="background-color:#333333">
        <br>
        <form autocomplete="off">
            <input type="hidden" value={{ word.engWord }} name="word">
            <div>
                <img id="word_image" src="/static/img/words{{ word.img.url }}"
                     style="visibility:visible; max-width: 300pt; max-height: 400pt; color: white">
                <p>
            </div>
            <p>
                <input type="submit" class="btn btn-primary" value={{ btn1 }} name="mybtn1">
                <input type="submit" class="btn btn-primary" value={{ btn2 }} name="mybtn2">
            <p>
                <input type="submit" class="btn btn-primary" value={{ btn3 }} name="mybtn3">
                <input type="submit" class="btn btn-primary" value={{ btn4 }} name="mybtn4">

        </form>
    </div>
{% endblock body %}
